# Challenge 1 
### Team Name: 4-mille-feuille
#### Students: 
    - Thomas A. Fernandez Ramirez (Student ID: 473540)
    - Sander Lindberg (Student ID: 493389)

In [20]:
import pandas as pd
import numpy as np

In [21]:
X_train_pre = pd.read_csv('train_preprocessed_no_nan.csv')
X_test_pre = pd.read_csv('test_preprocessed_no_nan.csv')

X_train = X_train_pre.drop(['target', 'id'], axis=1)
y = X_train_pre['target']

X_test = X_test_pre.copy()

In [22]:
X_train.head()

,f0,f1,f2,f3,f4,f5,f7,f8,f10,f12,...,f20,f21,f22,f23,f24,f25,f27,f28,f9_1,f9_2
0,8,0,-1.435379,0.862103,6.8928,1,2,4,1,0,...,0.888292,3,0,1,0,51,12,1,15,18
1,13,-1,-1.219974,-0.915560,6.8098,0,1,6,10,5,...,-0.148665,3,1,5,0,10,10,1,3,19
2,15,4,-0.326541,0.238072,6.7761,0,2,5,0,2,...,0.909928,3,0,2,1,16,2,0,46,41
3,10,3,0.341725,1.268089,6.9302,0,2,5,1,0,...,1.189065,2,0,3,0,63,8,1,1,47
4,7,0,0.089125,1.542401,7.0238,0,1,5,0,3,...,0.658525,2,1,0,1,26,7,1,35,1

In [23]:
X_test.head()

,f0,f1,f2,f3,f4,f5,f7,f8,f10,f12,...,f20,f21,f22,f23,f24,f25,f27,f28,f9_1,f9_2
0,23,-1,0.534264,1.701243,7.0036,0,2,5,1,2,...,-0.505200,3,1,4,0,104,14,1,18,49
1,2,1,-0.869325,-0.472949,6.9520,0,2,4,1,3,...,1.617640,1,0,4,0,20,7,0,1,11
2,16,1,1.176812,-0.245159,6.8457,0,2,1,0,0,...,-1.131335,2,0,5,0,28,10,0,19,25
3,7,-1,1.720175,-0.223120,6.9464,1,2,4,1,0,...,1.303898,2,1,4,1,64,0,1,0,6
4,2,-1,0.048927,0.052296,7.2400,0,1,1,0,1,...,0.403987,1,1,0,0,76,3,1,17,49

In [24]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: target, dtype: int64

In [25]:
X_train.drop(columns=['f9_2', 'f2', 'f4', 'f13', 'f22'], inplace=True)

In [26]:
X_test.drop(columns=['f9_2', 'f2', 'f4', 'f13', 'f22'], inplace=True)

In [27]:
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split

def split(X : pd.DataFrame, y : pd.DataFrame, size=.2):
    return train_test_split(X, y, test_size=size, stratify=y)

def fit(data : pd.DataFrame, labels : pd.DataFrame, classifier : any, eval_pool = None) -> None:
    if eval_pool is not None:
        classifier.fit(data, labels, eval_set=eval_pool)
    else:
        classifier.fit(data, labels)

def predict_proba(classifier : any, test : pd.DataFrame) -> np.array:
    return classifier.predict_proba(test)

def predict(classifier : any, test : pd.DataFrame) -> np.array:
    return classifier.predict(test)

def print_accuracy(pred : np.array, test : pd.DataFrame, name : str):
    print(name + ' Model AOC score: {0:0.4f}'.format(roc_auc_score(test, pred[:, 1])))
    
def real_predict(clf, name, submission=True):
    prediction = predict_proba(clf, X_test_split)

    print_accuracy(prediction, y_test_split, name)

    if submission:
        real_pred = predict_proba(clf, X_test)

        f = open("./pred_Newpara.csv", "w")
        f.write("id,target\n")
        id_nr = 50000
        for v in real_pred[:, 1]:
            f.write(f"{id_nr},{v}\n")
            id_nr += 1
        f.close()

In [28]:
X_train_split, X_test_split, y_train_split, y_test_split = split(X_train, y, size=.01)

In [29]:
from catboost import CatBoostClassifier, Pool

n = len(X_train)

class_0 = len(X_train_pre[X_train_pre['target'] == 0])
class_1 = len(X_train_pre[X_train_pre['target'] == 1])

eval_pool = Pool(X_test_split, y_test_split)

border_count=165.29131589308295 
depth_found=6.0 
l2_leaf_reg_found=5.505544340379864 
lr=0.0967650713138604
nb_trees=1351

clf = CatBoostClassifier( depth=depth_found, border_count=border_count, learning_rate=lr, iterations=2000, l2_leaf_reg = l2_leaf_reg_found ,leaf_estimation_iterations=10, loss_function= 'Logloss')

fit(X_train, y, clf, eval_pool)

TypeError: __init__() got an unexpected keyword argument 'nb_trees'

In [ ]:
real_predict(clf, 'Catboost')